@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Online Library</h1>
    <p/>
    <img src="~/Content/Images/Bookshelf.jpg" alt="BookShelfPhoto" width="600" height="400"/>
    <p/>
    <p class="lead">Online library is a free web platform. Find your favorites books to read online. There are books for everyone!</p>
    <p>@Html.ActionLink("View library", "/AllBooks", new { showAllBooks = true }, new { @class = "btn btn-primary btn-lg" })</p>
</div>
